/* Шрифты */
/* https://fonts.google.com/specimen/IBM+Plex+Sans?preview.text_type=custom */

@font-face {
    font-family: 'IBM Plex Sans Thin';
    src: url('../fonts/IBMPlexSans-Thin.eot?') format("eot"),
    url('../fonts/IBMPlexSans-Thin.ttf') format("truetype"),         
    url('../fonts/IBMPlexSans-Thin.woff') format("woff"),
    url('../fonts/IBMPlexSans-Thin.woff2') format("woff2");
    /* url('../fonts/IBMPlexSans-Thin.svg') format("svg"); */
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans Light';
    src: url('../fonts/IBMPlexSans-Light.eot?') format("eot"),
    url('../fonts/IBMPlexSans-Light.ttf') format("truetype"),         
    url('../fonts/IBMPlexSans-Light.woff') format("woff"),
    url('../fonts/IBMPlexSans-Light.woff2') format("woff2"),
    url('../fonts/IBMPlexSans-Light.svg') format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'IBM Plex Sans Regular';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'IBM Plex Sans Regular';
    src: url('../fonts/IBMPlexSans-Regular.eot?') format("eot"),
        url('../fonts/IBMPlexSans-Regular.ttf') format("truetype"),         
        url('../fonts/IBMPlexSans-Regular.woff') format("woff"),
        url('../fonts/IBMPlexSans-Regular.woff2') format("woff2"),
        url('../fonts/IBMPlexSans-Regular.svg') format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans Medium';
    src: url('../fonts/IBMPlexSans-Medium.eot?') format("eot"),
    url('../fonts/IBMPlexSans-Medium.ttf') format("truetype"),         
    url('../fonts/IBMPlexSans-Medium.woff') format("woff"),
    url('../fonts/IBMPlexSans-Medium.woff2') format("woff2"),
    url('../fonts/IBMPlexSans-Medium.svg') format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans SemiBold';
    src: url('../fonts/IBMPlexSans-SemiBold.eot?') format("eot"),
    url('../fonts/IBMPlexSans-SemiBold.ttf') format("truetype"),         
    url('../fonts/IBMPlexSans-SemiBold.woff') format("woff"),
    url('../fonts/IBMPlexSans-SemiBold.woff2') format("woff2"),
    url('../fonts/IBMPlexSans-SemiBold.svg') format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans Bold';
    src: url('../fonts/IBMPlexSans-Bold.eot?') format("eot"),
    url('../fonts/IBMPlexSans-Bold.ttf') format("truetype"),         
    url('../fonts/IBMPlexSans-Bold.woff') format("woff"),
    url('../fonts/IBMPlexSans-Bold.woff2') format("woff2");
    /* url('../fonts/IBMPlexSans-Bold.svg') format("svg"); */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Общие стили */
header {   
    position: relative; 
    background-image: url(../images/Backgroound_Picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 59vw;
    /* width: 1171px; */
    /* margin: 0 auto; */
    overflow: hidden;
}

header:after {
    /* content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 112px solid white;
    margin: 541px -83%; */
    content: '';
    display: block;
    border-top: 9.95vw solid transparent;
    border-right: 100vw solid white;
    position: absolute;
    left: 0;
    bottom: 0;

}

.upper {
    position: relative;
    /* top: 1000px;
    left: 500px; */
    margin: 3.5vw auto;
    max-width: 84.4vw;

}

.main-title {
    /* position: absolute;
    left: auto;
    top: 240px; */
    margin: 19.5vw auto;
    text-align: center;
}

.main-title h1{
    font-family: 'IBM Plex Sans Thin';
    font-style: normal;
    font-weight: 100;
    font-size: 6vw;
    line-height: 1.33;    
    color: white;
}

.main-title span {
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 3.6vw;
    line-height: 1.33;    
    color: white;
}

.greenHeader {
    font-family: 'IBM Plex Sans Medium';
    color: #A3CC40;
    font-size: 4.2vw;
    line-height: 1.3;
}

/* .menuCol {
    font-family: 'IBM Plex Sans Medium';
    line-height: 1.33;

} */

.link-white {    
    color: white;
    text-decoration: none;
    transition: 0.2s;


}

.link-white:hover {
    color: #A3CC40;
}

.link-underline {
    border-bottom: 1px solid;
}

.link-footer {    
    color: white;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.3;
}

.link-footer:hover {    
    border-bottom: 1px solid;
}

/* Общие стили */
/* Сетка макета */
/* Компоненты */
/* Медиа – правила */

.logo-column {
    float: left;
}

.logo-column__inno {
    /* width="156" height="40" */
    width: 13.8vw;
    height: 3.5vw;

}

.menu-column {
    float: left;
    font-family: 'IBM Plex Sans Medium';
    font-size: 1vw;
    line-height: 1.3;
    color: white;
    
}

.menuRow1 {
    margin-top: -3px;
}

.menuRow1__tel {
    float: left;    
    margin-left: 4vw;  
}
.menuRow1__mail,
.menuRow1__address,
.menuRow1__call {
    float: left;    
    margin-left: 4.4vw;    
}

.menuRow1__address a {
    color: white;
    text-decoration: none;
}

.menuRow2 {
    display: inline-block;
    /* padding: 50px; */
    margin-top: 1.24vw;
}

.menuRow2 li:not(:first-child){
    display: inline;
    /* padding-left: 50px; */
    margin-left: 6.6vw;
}

.menuRow2 li:first-child{
    display: inline;
    margin-left: 4vw;
}

.menuRow1__call {
    color: black;
    background-color: white;
    
    border-radius: 0.5vw;
    /* line-height: 2; */
    width: 11.5vw;
    height: 1.8vw;
    margin-top: -0.35wv;
    text-align: center;       
}

.menuRow1__call a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align:justify;
    margin-top: 0.26vw;
}

.menuRow1__call svg {
    margin-right: 0.26vw;
    fill: #333333;    
    width: 0.8vw;
    height: 0.8vw;
}

.menuRow1__call:hover {
    background: #A3CC40;
    /* border: 2px solid #EAEDE2; */
    border: 0.17vw solid #EAEDE2;
    box-sizing: border-box;
}

.menuRow1__call:hover a {
    color: #FFFFFF;
    /* margin-top: 1px; */
    margin-top: 0.08vw;
}

.menuRow1__call:hover svg {
    fill: #FFFFFF;    
}

.lang-switch {
    position: absolute;
    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.3;    
    color: #FFFFFF;

    right: 3.5vw;
    top: 3.2vw;
}

.lang-switch svg {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.62vw;
}


.welcome {
    position: absolute;
    background: white;
    width: 37.9vw;
    height: 19.6vw;
    border-radius: 0.9vw;
    top: 46.6vw;
    /* right: 135px; */
    /* right: 12%; */
    left: 50%;
    box-shadow: 0 2.4vw 3.5vw rgba(163,204,64,0.18);
    
}

.welcome__text {
    margin: 3.1vw 4.4vw;

    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.3;
    color: #333333;
}

.welcome__header {
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 2.9vw;
    line-height: 1.3;
    color: #333333;
    margin-bottom: 20px;   
}

.welcome__text p {
    margin-top: 1.3vw;
}







.why {
    /* position: relative; */
    width: 76vw;
    margin: 9.8vw auto 0;
    display: block;    
}

.why__header {
    /* position: absolute; */
    margin-top: -7.1vw;
    /* margin-left: 25px; */
    margin-bottom: 8vw;
}

.baits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    /* align-self: center; */
}

.bait {
    /* float: left; */
    width: 22vw;
    /* height: 365px; */
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 90px; */
    justify-content: center;
    align-content: flex-start;
    /* align-content: stretch; */
    
}

/* .baits:not(:last-child) {
    float:left;
} */

.bait__image {
    display: block;
    width: 100%;
    height: 15vw;
    
}

.bait__image:hover {
    transform: scale(1.07, 1.07);
}

.bait__header {
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 1.3;
    color: #333333;
    margin-top: 3.1vw;
    text-align: center;
}

.bait__text {
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.3;
    text-align: center;
    color: #333333;
    margin-top: 2.2vw;
    /* margin-left: 7%;
    margin-right: 7%; */
    text-indent: 1%; /* Отступ первой строки в пикселах */
    margin-bottom: 4.4vw;
    
}













#chooseFilm {
    /* margin-top: 960px; */
}

.chooseFilm {       
    width: 75.5vw;
    margin: 0 auto;
}

.chooseFilm h2 {
    margin-top: 9.8vw;
}


.chooseFilm__table {
    border-collapse: collapse;
    border-radius: 0.9vw;
    overflow: hidden;
    width: 100%;
    margin-top: 7.5vw;
}


.chooseFilm__table th {
    background: #A3CC40;    
    padding: 1vw 1.8vw;
    text-align: left;
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 1.3;
    color: #FFFFFF;
}

.chooseFilm__link {
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 1.3;
    color: #fff;
}

.chooseFilm__link svg {
    display: inline-block;
    vertical-align: top;
    margin-top: 1vw;
}

.chooseFilm__table td {
    background: #4C4D4F;
    padding: 1vw 1.8vw;
    color: #fff;
    
    height: 2.2vw;
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    line-height: 1.3;
}

.chooseFilm__table td svg {
    fill: white;
    width: 1vw;
    height: 0.8vw;
    
}

.chooseFilm__table td svg:hover {
    fill: #A3CC40;
}

.chooseFilm__table tr:nth-child(2n+1) td {
    background: #373737;
}

.chooseFilm__table a {
    text-decoration: none;
    color: #fff;
}


.chooseFilm__text {
    text-align: center;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.3;
    color: #333333;
    padding-top: 2.5vw;
    width: 48vw;
    margin: 0 auto;
}

.table__time {
    min-width: 16vw;
}




.giftForAll {
    position: relative;
    height: 61vw;
    margin-top: 3.5vw;
    background-image: url('../images/filmreel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.giftForAll__shade {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.8);
    overflow: hidden;
}

.giftForAll__shade::before {
    content: '';
    display: block;
    border-bottom: 9.7vw solid transparent;
    border-left: 100vw solid white;
    position: absolute;
    height: 7.5vw;
    left: 0;
    top: 0;

}

.giftForAll__shade::after {    
    content: '';
    display: block;    
    border-top: 8vw solid transparent;
    border-right: 100vw solid white;
    position: absolute;
    height: 1.1vw;
    left: 0;
    bottom: 0;
}

.giftForAll__content {
    height: 100%;    
    max-width: 75.5vw;
    position: relative;
    margin: 0 auto;
    /* background-color: #FF0000; */
}


.giftForAll__content img {
    display: block;
    position: absolute;
    width: 24.5vw;
    height: 24.5vw;
    border-radius: 100%;
    z-index: 2;
    left: 0;
    top: 3vw;       
}

.giftForAll__content b {
    position: absolute;
    display: block;
    width: 49vw;
    height: 5.5vw;
    right: 0;
    top: 18vw;

    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 4.3vw;
    line-height: 1.3;
    text-align: right;
    color: #FFFFFF;
}

.giftForAll__text {
    position: absolute;
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.3;
    text-align: right;
    color: #FFFFFF;

    width: 49vw;
    height: 15vw;
    right: 0;
    top:26.6vw;
}

.giftForAll__text p + p {

    margin-top: 1.3vw;
}

.giftForAll__shade button {
    display: block;
    position: absolute;
    border: none;

    right: 0;
    bottom: 13.7vw;

    width: 17vw;
    height: 2.75vw;
    background: #A3CC40;
    border-radius: 0.5vw;

    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1.3;    
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.giftForAll__shade button:hover {
    background: #FFFFFF;
    color: #A3CC40;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
}

/*  .giftForAll {
    position: relative;
    height: 685px;
    margin-top: 40px;
    background-image: url('../images/filmreel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.giftForAll__shade {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.8);
    overflow: hidden;
}

.giftForAll__shade::before {
    content: '';
    display: block;
    border-bottom: 110px solid transparent;
    border-left: 100vw solid white;
    position: absolute;
    height: 85px;
    left: 0;
    top: 0;

}

.giftForAll__shade::after {    
    content: '';
    display: block;    
    border-top: 90px solid transparent;
    border-right: 100vw solid white;
    position: absolute;
    height: 13px;
    left: 0;
    bottom: 0;
}


.giftForAll__content {
    height: 100%;    
    max-width: 850px;
    position: relative;
    margin: 0 auto;
    
} */


/* .giftForAll__content img {
    display: block;
    position: absolute;
    width: 276px;
    height: 276px;
    border-radius: 100%;
    z-index: 20;
    left: 0;
    top: 35px;       
}

.giftForAll__content b {
    position: absolute;
    display: block;
    width: 548px;
    height: 62px;
    right: 0;
    top: 200px;

    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
    text-align: right;
    color: #FFFFFF;
} */

/* .giftForAll__text {
    position: absolute;
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.3;
    text-align: right;
    color: #FFFFFF;

    width: 548px;
    height: 173px;
    right: 0;
    top: 300px;
}

.giftForAll__text p + p {

    margin-top: 15px;
}

.giftForAll__shade button {
    display: block;
    position: absolute;
    border: none;

    right: 0;
    bottom: 155px;

    width: 190px;
    height: 31px;
    background: #A3CC40;
    border-radius: 6px;

    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;    
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.giftForAll__shade button:hover {
    background: #FFFFFF;
    color: #A3CC40;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
} */














.prizeShade {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 5;
}

.prizeWindow {
    height: 50%;
    width: 50%;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1.8vw;
    z-index: 15;
}

.prizeWindow__close {
    display: block;
    position: absolute;    
    width: 3.1vw;
    height: 3.1vw;
    background: #A3CC40;
    border-radius: 100%;    
    top: 1.9vw;
    right: 1.9vw;
    box-sizing: border-box;    
    
}

.prizeWindow__close:hover {
    background: white;
    border: 2px solid #A3CC40;
    
}

.prizeWindow__close svg {
    margin-top: 0.9vw;
    margin-left: 0.9vw;
    fill: white;
}

.prizeWindow__close:hover svg {
    fill: #A3CC40;
    margin-top: 0.7vw;
    margin-left: 0.7vw;
}

.prizeWindow__userName{
    position: absolute;
    width: 80%;
    height: 10%;
    background: #DEDEDE;
    border-radius: 5px;
    top: 25%;
    left: 10%;
    border: none;
    padding-left: 1.3vw;
    box-sizing: border-box;
}

.prizeWindow__userEmail {
    position: absolute;
    width: 80%;
    height: 10%;
    background: #DEDEDE;
    border-radius: 5px;
    top: 40%;
    left: 10%;
    border: none;
    padding-left: 1.3vw;
    box-sizing: border-box;
}

.prizeWindow__selectPrize {
    position: absolute;
    width: 80%;
    height: 10%;
    background: #DEDEDE;
    border-radius: 5px;
    top: 55%;
    left: 10%;
    border: none;
    padding-left: 1.3vw;
    box-sizing: border-box;
}


.prizeWindow__checkboxLabel {    
    position: absolute;
    top: 70%;
    left: 10%;    
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 1.3;
    color: #333333;

}

.prizeWindow__input {
    position: absolute;
    width: 80%;
    height: 10%;
    background: #A3CC40;
    border-radius: 6px;
    top: 80%;
    left: 10%;
    border: none;

    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;        
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.prizeWindow__input:hover {
    background: #FFFFFF;
    color: #A3CC40;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
}














.films {
    width: 76vw;
    margin: 4vw auto;
}

.films p {
    display: block;
    margin-top: 3.5vw;
    width: 48vw;

    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.3;
    color: #333333;
}

.films-table {
    width: 76vw;
    /* height: 76vw; */
    margin-top: 5.38vw;  

    display: grid;
    grid-template-areas: "grid-film1 grid-film2 grid-film3"
                        "grid-film4 grid-film5 grid-film6"
                        "grid-film7 grid-film8 grid-film9";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat (3, 1fr);    
    align-items: stretch;
}



.grid-film1 {
    grid-area: grid-film1;
    overflow: hidden;    
}



.grid-film2 {
    grid-area: grid-film2;
}

.grid-film3 {
    grid-area: grid-film3;
}

.grid-film4 {
    grid-area: grid-film4;
}

.grid-film5 {
    grid-area: grid-film5;
}

.grid-film6 {
    grid-area: grid-film6;
}

.grid-film7 {
    grid-area: grid-film7;
}

.grid-film8 {
    grid-area: grid-film8;
}

.grid-film9 {
    grid-area: grid-film9;
}


/* .films-table {
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
} */

/* .films table {
    margin-top: 65px;
    border: 0;
    padding: 0;    
}

.films td {
    border: 0px;
    padding: 0;
}    */

.film-card {  
    width: 25.3vw;
    height: 25.3vw;  
    /* width: 200px; 
    height: 200px; */
    /* height: 33%; */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
}

.film-card  img {
    display: block;
    /* background-repeat: no-repeat;
    background-size: cover;    
    background-position: center; */
    width: 100%;
    /* height: 100%; */
    height: auto;
    overflow: hidden;
  
}

.film-card__shadow {
    position: absolute;
    background: rgba(22, 22, 22, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-delay: 0.2s;
}

.film-card__description {
    position: absolute;
    left: 0;
    top : 0;
    height: 100%;
    width: 100%;
    background: rgba(144, 210, 61, 0.4);
    transform: translateY(100%);
    transition: 0.2s;  
}

.film-card:hover .film-card__description {
    transform: translateY(0);
}

.film-card:hover .film-card__shadow {
    opacity: 0%;
}

.film-card__description b {
    display: block;
    margin: 6% 9%;  
    width: 83%; 
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 1.3;
    color: #FFFFFF;
}

.film-card__description p {
    display: block;
    margin: 9% 9%;
    width: 83%;

    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.3;
    color: #FFFFFF;

}





.items {
    width: 75.5vw;
    margin: 8vw auto;
}

.items p {
    max-width: 48vw;
    margin-top: 2.5vw;
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.3;
    color: #333333;
}

.items__list {
    margin-top: 4.8vw;
    width: 100%;
    display: flex;
    justify-content:space-between
}

.item__card {
    position: relative;
    width: 21.7vw;
    height: 29vw;
    
    border-radius: 0.9vw;
    overflow: hidden;
}

.item__card img {
    /* display: block;     
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    width: 100%;
    height: 100%;
}


.item__card::after {    
    content: '';
    display: block;
    border-top: 5.7vw solid transparent;
    border-right: 21.7vw solid rgba(163, 204, 64, 0.8);    
    position: absolute;
    height: 7.1vw;
    left: 0;
    bottom: 0;
    
    
}

.item__description {
    position: absolute;
    
    display: table;
    
    width: 15.7vw;
    height: 7.6vw;
    bottom: 1vw;
    left: 3vw;
    text-align: center;    
    z-index: 2;
    
}

.item__card b {
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 1.3;
    color: #FFFFFF;
    display:table-cell;
    vertical-align: middle;
    
    
}

/* .items {    
    width: 500px;
    margin: 8vw auto;
}

.items p {
    max-width: 48vw;
    margin-top: 2.5vw;
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.3;
    color: #333333;
}

.items__list {
    margin-top: 4.8vw;
    width: 75.5vw;
    display: flex;
    justify-content:space-between
}

.item__card {
    position: relative;
    width: 21.7vw;
    height: 29vw;    
    border-radius: 10px;
    overflow: hidden;
}

.item__card img {
    display: block;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.item__card::after {    
    content: '';
    display: block;
    border-top: 5.7vw solid transparent;
    border-right: 21.7vw solid rgba(163, 204, 64, 0.8);    
    position: absolute;
    height: 7vw;
    left: 0;
    bottom: 0;
    
}

.item__description {
    position: absolute;    
    display: table;    
    width:15.7vw;
    height: 7.6vw;
    bottom: 1vw;
    left: 3vw;
    text-align: center;    
    z-index: 2;    
}

.item__card b {
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #FFFFFF;
    display:table-cell;
    vertical-align: middle;  
    
} */

/* .items {
    width: 850px;
    margin: 90px auto;
}

.items p {
    max-width: 540px;
    margin-top: 28px;
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.3;
    color: #333333;
}

.items__list {
    margin-top: 55px;
    width: 850px;
    display: flex;
    justify-content:space-between
}

.item__card {
    position: relative;
    width: 245px;
    height: 331px;
    
    border-radius: 10px;
    overflow: hidden;
}

.item__card img {
    display: block;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.item__card::after {    
    content: '';
    display: block;
    border-top: 65px solid transparent;
    border-right: 245px solid rgba(163, 204, 64, 0.8);    
    position: absolute;
    height: 80px;
    left: 0;
    bottom: 0;
    
}

.item__description {
    position: absolute;
    
    display: table;
    
    width: 177px;
    height: 86px;
    bottom: 12px;
    left: 34px;
    text-align: center;    
    z-index: 2;
    
}

.item__card b {
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #FFFFFF;
    display:table-cell;
    vertical-align: middle;
    
} */






.reviews {    
    position: relative; 
    background-image: url(../images/clapper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vw;
    /* width: 1171px; */
    /* margin: 0 auto; */
    overflow: hidden;
}

.reviews__shade {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.8);
}

.reviews__shade::before {
    content: '';
    display: block;
    border-top: 7.1vw solid transparent;
    border-right: 100vw solid white;
    position: absolute;
    left: 0;
    bottom: 0;

}

.reviews__shade::after {    
    content: '';
    display: block;
    border-bottom: 7.1vw solid transparent;
    border-left: 100vw solid white;
    position: absolute;
    left: 0;
    top: 0;
}

.reviews__content {    
    max-width: 75.5vw;
    margin: 12vw auto;
}

.reviews p {
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.3;
    color: #FFFFFF;
}

.reviews__description {
    display: inline-block;
    max-width: 48vw;
    margin-top: 2.7vw;
}

.reviews__people {
    margin-top: 6.6vw;
    width: 75.5vw;
    display: flex;
    justify-content:space-between
}

.people__card {
    position: relative;    
    width: 18.7vw;
    height: 25.2vw;
    background: #97B13C;
    border-radius: 0.8vw;
    color: #FFFFFF;
    /* margin-left: 90px; */
    overflow: hidden;
}

.people__card:hover {
    transform: scale(1.16, 1.16);
}

.people__card img {
    width: 100%;
}

.people__card b {
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3vw;
    line-height: 1.3;
    display: block;
    margin: 1.95vw 0.9vw;
}

.people__card p {    
    font-size: 0.9vw;
    line-height: 1.3;
    /* display: block; */
    margin: -0.9vw 0.9vw;
}

.card__date {   
    position: absolute;     
    font-family: 'IBM Plex Sans Light';
    font-style: normal;
    font-weight: 300;
    font-size: 0.7vw;
    line-height: 1.3;
    right: 1.15vw;
    bottom: 0.9vw;
    
}








/* .reviews {    
    position: relative; 
    background-image: url(../images/clapper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vw;
    
    
    overflow: hidden;
}

.reviews__shade {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.8);
}

.reviews__shade::before {
    content: '';
    display: block;
    border-top: 80px solid transparent;
    border-right: 100vw solid white;
    position: absolute;
    left: 0;
    bottom: 0;

}

.reviews__shade::after {    
    content: '';
    display: block;
    border-bottom: 80px solid transparent;
    border-left: 100vw solid white;
    position: absolute;
    left: 0;
    top: 0;
}

.reviews__content {    
    max-width: 850px;
    margin: 135px auto;
}

.reviews p {
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.3;
    color: #FFFFFF;
}

.reviews__description {
    display: inline-block;
    max-width: 550px;
    margin-top: 30px;
}

.reviews__people {
    margin-top: 75px;
    width: 850px;
    display: flex;
    justify-content:space-between
}

.people__card {
    position: relative;    
    width: 210px;
    height: 284px;
    background: #97B13C;
    border-radius: 9px;
    color: #FFFFFF;
    
    overflow: hidden;
}

.people__card:hover {
    transform: scale(1.16, 1.16);
}

.people__card img {
    width: 100%;
}

.people__card b {
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3;
    display: block;
    margin: 22px 10px;
}

.people__card p {    
    font-size: 10px;
    line-height: 1.3;    
    margin: -10px 10px;
}

.card__date {   
    position: absolute;     
    font-family: 'IBM Plex Sans Light';
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 1.3;
    right: 13px;
    bottom: 10px;
    
} */










.feedback {
    position: relative;
    width: 68vw;
    height: 47vw;
    background: #FFFFFF;
    box-shadow: 0.7vw 0.8vw 3.46vw rgba(185, 185, 185, 0.37);
    border-radius: 1.7vw;
    margin: 3.8vw auto;
    /* background-image: url('../images/feedback.png'); */
    overflow: hidden;
}

.feedback img {
    height: 100%;
}

.feedback_shade {
    position: absolute;
    top: 0;
    left: 2.4vw;
    width: 35vw;
    height: 100%;
    
    background: linear-gradient(270deg, #FFFFFF 12.2%, rgba(30, 30, 30, 0) 87.85%);
}

/* .feedback__form {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 527px;
    
} */

.feedback b {
    position: absolute;
    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 2.2vw;
    line-height: 1.3;
    color: #A3CC40;

    top: 3.1vw;
    right: 11.5vw;

}

.feedback input[name="userName"] {
    position: absolute;
    width: 30.5vw;
    height: 3.5vw;
    background: #DEDEDE;
    border-radius: 5px;
    top: 7.5vw;
    right: 3.7vw;
    border: none;
    padding-left: 1.3vw;
    box-sizing: border-box;
}

.feedback input[name="userName"]::placeholder {
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 1.3;
    color: #A1A1A1;
    margin-left: 1.3vw;
}

.feedback select {
    
    position: absolute;
    width: 30.5vw;
    height: 3.5vw;
    background-color: #DEDEDE;
    border-radius: 5px;
    top: 13.9vw;
    right: 3.7vw;
    border: none;
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 1.3;
    color: #A1A1A1;
    padding-left: 1.3vw;    
    box-sizing: border-box;
    /* appearance: none; 
    background: url('../images/select.png') no-repeat right center;   */
}



.feedback textarea {
    position: absolute;
    width: 30.5vw;;
    height: 10.6vw;
    background: #DEDEDE;
    border-radius: 5px;
    top: 20.1vw;
    right: 3.7vw;
    border: none;
    padding-left: 1.3vw;
    padding-top: 1.15vw;
    box-sizing: border-box;
    resize: none;
}

.feedback textarea::placeholder {
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 1.3;
    color: #A1A1A1;
}

.feedback input[name="agreement"] {
    position: absolute;
    width: 18px;
    height: 17px;
    background: #DEDEDE;
    border-radius: 5px;
    /* top: 374px;
    right: 368px; */
    left: -2.1vw;
    top: -1px;
    border: 1px solid #A3CC40;
    box-sizing: border-box;
    
}

.checkbox__label {    
    position: absolute;
    right: 9vw;
    bottom: 12.2vw;
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 1.3;
    color: #333333;

}

.feedback input[ type="submit"] {
    position: absolute;
    width: 30.5vw;
    height: 5vw;
    background: #A3CC40;
    border-radius: 6px;
    bottom: 2.9vw;
    right: 3.7vw;
    border: none;

    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1.7vw;
    line-height: 1.3;        
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.feedback input[ type="submit"]:hover {
    background: #FFFFFF;
    color: #A3CC40;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 0.8vw rgba(144, 210, 61, 0.3);
}








.map {
    position: relative;    
    margin: 0 auto;
    width: 82vw;      
}

.map img {    
    width: 100%;
}




/* footer {        
    background: #A3CC40;    
    height: 362px;
    
}

.footer {       
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 75px;
    max-width: 950px;
    margin: 0 auto;

}

.footerHeader {
    font-family: 'IBM Plex Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    color: #FFFFFF;
}



.footerLogo {
    flex: .4 0 315px;


}

.footerLogo p {
    display: block;
    width: 260px;
    font-family: 'IBM Plex Sans Regular';
    font-size: 14px;
    line-height: 1.3;
    color: white;
    margin-top: 15px;
}

.footerLogo__social {
    margin-top: 20px;

}

.circle {
    position: relative;
    height: 31px;
    width: 31px;
    border-radius: 100%;
    background-color: #BEE956;
    text-align: center;
    float: left;
    margin-right: 30px;
    
}


.inst {
    margin: 8px auto;
    
    fill: white;
}

.inst:hover {
    fill: #DD2A7B;
}

.linkedin {
    margin: 7px auto;
    fill: white;
}

.linkedin:hover {
    fill: #2867B2;
}

.twit {
    margin: 8px auto;
    fill: white;
}

.twit:hover {
    fill: #1DA1F2;
}

.youtube {
    margin: 9px auto;
    fill: white;
}

.youtube:hover {
    fill: #FF0000;
}

.fb {
    margin: 7px auto;
    fill: white;
}

.fb:hover {
    fill: #4267B2;
    
}

.footerNav {
    flex: .2 0 100px;

}

.footerNav ul {
    margin-top: 30px;
}

.footerNav li:not(:first-child) {
    margin-top: 15px;
}

.footerContacts {
    flex: .4 0 230px;
    max-width: 140px;

    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: white;
}

.footerContacts ul {
    margin-top: 30px;
}

.footerContacts li:not(:first-child) {
    margin-top: 15px;
}

.copyright {      
    
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.3;

    margin: 50px auto;
    color: white;
    max-width: 880px;

}

#cityModal {    
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(163,204,64,0.18);
    font-family: 'IBM Plex Sans Medium';
    font-size: 15px;
    line-height: 1.3;
    display: none;
}

#cityModal p {
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#city_input {
    margin-bottom: 10px;
}

#cityModal li {
    cursor:pointer;
    margin: 5px;
}

#cityModal li:hover {
    color: #A3CC40;
} */


footer {        
    background: #A3CC40;    
    height: 32vw;
    
}

.footer {       
    display: flex;
    flex-wrap: wrap;
    padding-top: 4.4vw;
    padding-left: 6.6vw;
    max-width: 84vw;
    margin: 0 auto;

}

.footerHeader {
    font-family: 'IBM Plex Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 1.7vw;
    line-height: 1.3;
    color: #FFFFFF;
}



.footerLogo {
    flex: .4 0 28vw;


}

.footerLogo__inno {
    /* width="161" height="42" */
    width: 14.3vw;
    height: 3.7vw;
}

.footerLogo p {
    display: block;
    width: 23vw;
    font-family: 'IBM Plex Sans Regular';
    font-size: 1.2vw;
    line-height: 1.3;
    color: white;
    margin-top: 1.3vw;
}

.footerLogo__social {
    margin-top: 1.7vw;

}

.circle {
    position: relative;
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 100%;
    background-color: #BEE956;
    text-align: center;
    float: left;
    margin-right: 2.6vw;
    
}

/* .circle:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
} */

.inst {
    margin: 0.71vw auto;    
    fill: white;    
    width: 1.2vw;
    height: 1.2vw;
}

.inst:hover {
    fill: #DD2A7B;
}

.linkedin {
    margin: 0.62vw auto;
    fill: white;    
    width: 1.4vw;
    height: 1.3vw;
}

.linkedin:hover {
    fill: #2867B2;
}

.twit {
    margin: 0.75vw auto;
    fill: white;    
    width: 1.4vw;
    height: 1.15vw;
}

.twit:hover {
    fill: #1DA1F2;
}

.youtube {
    margin: 0.8vw auto;
    fill: white;    
    width: 1.6vw;
    height: 1.15vw;
}

.youtube:hover {
    fill: #FF0000;
}

.fb {
    margin: 0.6vw auto;
    fill: white;
    /* width="8" height="16" */
    width: 0.71vw ;
    height: 1.42vw;
}

.fb:hover {
    fill: #4267B2;
    
}

.footerNav {
    flex: .2 0 8.9vw;

}

.footerNav ul {
    margin-top: 2.6vw;
}

.footerNav li:not(:first-child) {
    margin-top: 1.3vw;
}

.footerContacts {
    flex: .4 0 20.4vw;
    max-width: 12.4vw;

    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.3;
    color: white;
}

.footerContacts ul {
    margin-top: 30px;
}

.footerContacts li:not(:first-child) {
    margin-top: 1.3vw;
}

.copyright {      
    /* margin-left: 7%;
    margin-top: 50px; */
    font-family: 'IBM Plex Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 1.3;

    margin: 4.4vw auto;
    color: white;
    max-width: 78vw;

}

#cityModal {    
    border-radius: 0.9vw;
    box-shadow: 0 1.3vw 1.3vw rgba(163,204,64,0.18);
    font-family: 'IBM Plex Sans Medium';
    font-size: 1.3vw;
    line-height: 1.3;
    display: none;
}

#cityModal p {
    font-size: 1.6vw;
    margin-top: -0.9vw;
    margin-bottom: 0.9vw;
}

#city_input {
    margin-bottom: 0.9vw;
}

#cityModal li {
    cursor:pointer;
    margin: 0.4vw;
}

#cityModal li:hover {
    color: #A3CC40;
}